a.navigate-right.main_menu.active {
    background-color: #CB000A;
    color: #fff;
}

label#uploadBtn {
    padding: 5px;
    background-color: #CB000A;
    color: #fff;
    border-radius: 4px;
}

#image {
	height: 150px; 
	margin-top: 10px; 
	display: block;
	box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    border-radius: 5px;
    max-width: 100%;
}