<script>

    
  $(document).ready(function() {

    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}


          var url = 'http://178.62.41.199/bulksms/';
          //var url = 'http://sms.bbnplace.com/new/api/';
          var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');

    $('#bank_form').submit(function(event) {
      $bank = $('#bank :selected').val();
      $num = $('#num').val();

      if ($num == '') {
        alert('Enter Slip Number');
      }else{

        spinIn();

        $.ajax({
    'url': url+'recharges/load_bank_payment/'+session_token+'.json',
    'type': 'POST',
    'data': {'slip_number': $num, 'bank': $bank}
  }).done( function (data) {
    if (data.response != 'Invalid Bank or Slip Number') {
      alert('Your account has been credited');
      $('#num').val('');
    }else{
      alert(data.response);
    }

    spinOut();

});

      }

      });

    spinOut();

  });
       
</script>

<form onsubmit="return false;" style="margin-top: 10px;" id="bank_form">
<label>Bank</label>
<select id="bank">
  <option value="1">GTBank</option>
  <option value="2">Diamond</option>
  <option value="3">Access</option>
  <option value="4">Zenith</option>
</select>
  <label>Slip Number</label>
  <input type="text" id="num" placeholder="Enter Slip Number" />
  <button type="submit" class="btn btn-negative btn-block">Recharge</button>
</form>