<script>

  $(document).ready(function() {

    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}


          var url = 'http://178.62.41.199/bulksms/';
          //var url = 'http://sms.bbnplace.com/new/api/';
          var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');

    $('#card_form').submit(function(event) {
      $pin = $('#pin').val();

      if ($pin == '') {
        alert('Enter Voucher Pin');
      }else{

        spinIn();

        $.ajax({
    'url': url+'recharges/load_recharge_voucher/'+session_token+'.json',
    'type': 'POST',
    'data': {'pin': $pin}
  }).done( function (data) {
    
    if (data.response == 'Credited') {
      alert('Your account has been credited');
      $('#pin').val('');
    }else{
      alert(data.response);
    }

    spinOut();

});

      }

      });

    spinOut();

  });
   

</script>

<form onsubmit="return false;" style="margin-top: 10px;" id="card_form">
	<label>Voucher Pin</label>
	<input type="text" id="pin" placeholder="Enter Voucher Pin" />
	<button type="submit" class="btn btn-negative btn-block">Recharge</button>
</form>