<script>

$(document).ready(function() {
  function spinIn() {
        $('#spinner').css('display', 'inline');
    }

    function spinOut() {
       $('#spinner').css('display', 'none');
    }

    spinOut();
});
      
</script>

<center>
<h4>Our Short Story</h4>
<p>
This cloud based application to person text messaging platform (or as Nigerians prefer to call it, bulk sms platform) was launched in June 2008. Since inception our products and offerings have been targeted at SMEs across Nigeria.
</p>
<p>
We have provided businesses a tool for converting new customers and retaining existing ones, building and managing relationships, confidence, loyalty and after all, increasing sales revenue. We've provided churches with a platform to follow-up on members.
</p>
<p>
Operating the platform is a small team of Certified Business Developers, Customer Service Representatives and Web Technologists.
</p>
<h4>Bank Details</h4>
</center>

<ul class="table-view">
  <li class="table-view-cell media" style="padding: 11px 0px 11px 18px;">
    <a class="">
      <img class="media-object pull-left" src="img/diamond-bank.jpg" height="100px">
      <div class="media-body">
        0010549507
        <p>Browser Based Nigeria</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media" style="padding: 11px 0px 11px 18px;">
    <a class="">
      <img class="media-object pull-left" src="img/gtbank.jpg" height="100px">
      <div class="media-body">
        0008382123
        <p>Browser Based Nigeria</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media" style="padding: 11px 0px 11px 18px;">
    <a class="">
      <img class="media-object pull-left" src="img/zenith.jpg" height="100px">
      <div class="media-body">
        1012259075
        <p>Browser Based Nigeria</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media" style="padding: 11px 0px 11px 18px;">
    <a class="">
      <img class="media-object pull-left" src="img/access.jpg" height="100px">
      <div class="media-body">
        0049632011
        <p>Browser Based Nigeria</p>
      </div>
    </a>
  </li>
</ul>