<script>

 
jQuery(document).ready(function() {
		function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}
spinOut();
var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';

            var session_token = localStorage.getItem('session_token');


$('#previewMessage').click(function() {
	spinIn();
	var name = $('#name').val();
	var recipient = $('#recipient').val();
	var message = $('#message').val();

	if (name == '' || message == '' || recipient == '') {
		alert('All fields are required')
	}else{
		
		var msg = {
			'name': name,
			'recipient': recipient,
			'message': message
		};

		localStorage.setItem('message', JSON.stringify(msg));

		//$('.title').text('Message Summary');

		$('#page_content').load('pages/compose/preview.html');
	}

	
	spinOut();
	
});

if (localStorage.getItem('message') != '') {
	var message = JSON.parse(localStorage.getItem('message'));

$('#name').val(message.name);
$('#recipient').val(message.recipient);
$('#message').val(message.message);

}


$('#saveMessage').click(function() {
	$name = $('#name').val();
	$recipient = $('#recipient').val();
	$message = $('#message').val();

	if ($name == '' || $message == '' || $recipient == '') {
		alert('All fields are required');
	}else{

data = {'sender': $name, 'text': $message, 'recipients': $recipient};
spinIn();
	$.ajax({
		'url': url+'drafts/save/'+session_token+'.json',
		'type': 'POST',
		'data': data
	}).done( function (data) {


		var msg = data.message.status;

		if (msg == 'Saved') {

			$('#name, #recipient, #message').val('');
			localStorage.setItem('message', '');
			alert('Message successfully saved');

		}else{
			alert('Unable to save message');
		}

spinOut();

	});

	}

});

spinOut();

});
  

</script>

<form onsubmit="return false;">
<label>Sender Name</label>
  <input type="text" placeholder="Custom Name" id="name" autofocus>
  <label>Recipients</label>
  <textarea rows="4" placeholder="2348033333333, 08055555555, ..." id="recipient"></textarea>
  <label>Message</label>
  <textarea rows="4" placeholder="Enter your message" id="message"></textarea>
  <div class="form-group">
<button class="btn btn-negative btn-block" id="previewMessage" style="width: 50%; float: left;">Preview and Send</button>
<button class="btn btn-negative btn-block" id="saveMessage" style="width: 50%; float: left;">Save Message</button>
  </div>
</form>
