<script>
  $(document).ready(function() {
    
    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}


          var url = 'http://178.62.41.199/bulksms/';
          //var url = 'http://sms.bbnplace.com/new/api/';
          var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');

          $.ajax({
    'url': url+'drafts/fetch_messages/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
    
          var drafts = data.Drafts;

          localStorage.setItem('drafts', JSON.stringify(drafts));

          });

          var drafts = JSON.parse( localStorage.getItem('drafts') );

          if (drafts != null || drafts != '') {

            $.each(drafts , function(key , value){
              $('#draftsList').append("<li class='table-view-cell media' style='padding-right: 5px;'><a><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-ban removeDraft pull-right' id='"+value.Draft.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editDraft pull-right' id='"+value.Draft.id+"'></a>Sender: "+value.Draft.sender+"<p>"+value.Draft.text+"</p>Recipients: "+value.Draft.recipients+"<br>Last Updated: "+value.Draft.last_updated+"</div></a></li>");
            });

          }else{

            $.ajax({
    'url': url+'drafts/fetch_messages/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
    
          var drafts = data.Drafts;

          localStorage.setItem('drafts', JSON.stringify(drafts));

          if (drafts == undifined) {
          $('#draftsList').html("<center><button class='btn btn-negative'>You do not have any draft</button></center>");
          spinOut();
              }else{


          $.each(drafts , function(key , value){
             $('#draftsList').append("<li class='table-view-cell media' style='padding-right: 5px;'><a><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-ban removeDraft pull-right' id='"+value.Draft.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editDraft pull-right' id='"+value.Draft.id+"'></a>Sender: "+value.Draft.sender+"<p>"+value.Draft.text+"</p>Recipients: "+value.Draft.recipients+"<br>Last Updated: "+value.Draft.last_updated+"</div></a></li>");
          });


                }

});

          }


spinOut();



$('.editDraft').click(function(event) {
    spinIn();
    var id = $(this).attr('id');

    $.ajax({
    'url': url+'drafts/fetch_message/'+session_token+'/'+id+'.json',
    'type': 'GET'
  }).done( function (data) {

$('#draft_name').val(data.Message.Draft.sender);
$('#draft_id').val(data.Message.Draft.id);
$('#draft_message').val(data.Message.Draft.text);
$('#draft_recipients').val(data.Message.Draft.recipients);

$('#details').addClass('active');

spinOut();

});

  });


$('#editDraft').submit(function(event) {
    $sender = $('#draft_name').val();
    $id = $('#draft_id').val();
    $text = $('#draft_message').val();
    $recipients = $('#draft_recipients').val();

    if ($sender == '' || $text == '' || $recipients == '') {
      alert('All fields are required');
    }else{
      spinIn();

      $.ajax({
    'url': url+'drafts/update/'+session_token+'/'+$id+'.json',
    'type': 'POST',
    'data': {'sender': $sender, 'text': $text, 'recipients': $recipients}
  }).done( function (data) {

if (data.message == 'saved') {
  alert('Draft has been successfully updated');

 $.ajax({
    'url': url+'drafts/fetch_messages/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
$('#draftsList').html('');

          var drafts = data.Drafts;

          localStorage.setItem('drafts', JSON.stringify(drafts));
        $.each(drafts , function(key , value){

            $('#draftsList').append("<li class='table-view-cell media' style='padding-right: 5px;'><a><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-ban removeDraft pull-right' id='"+value.Draft.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editDraft pull-right' id='"+value.Draft.id+"'></a>Sender: "+value.Draft.sender+"<p>"+value.Draft.text+"</p>Recipients: "+value.Draft.recipients+"<br>Last Updated: "+value.Draft.last_updated+"</div></a></li>");      

        });

});

  $('#details').removeClass('active');

}else{
  alert(data.message);
}

spinOut();

});

    }

  });


$('.removeDraft').click(function(event) {
    var id = $(this).attr('id');
    $('#draft_delete_id').val(id);

    $('#delete').addClass('active');

  });


});
</script>

<ul class="table-view" id="draftsList"></ul>



<div id="details" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#details" style="color: #fff !important"></a>
    <h1 class="title">Edit Draft</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <center><p class="content-padded">Use form to edit draft info</p></center>
    <form style="" onsubmit="return false;" class="content-padded" id="editDraft">
    <input type="hidden" id="draft_id"> 
    <label>Sender Name</label>
  <input type="text" placeholder="Custom Name" id="draft_name" autofocus>
  <label>Recipients</label>
  <textarea rows="4" placeholder="2348033333333, 08055555555, ..." id="draft_recipients"></textarea>
  <label>Message</label>
  <textarea rows="4" placeholder="Enter your message" id="draft_message"></textarea>
  

  <button type="submit" class="btn btn-negative btn-block" style="margin-top: 5px;">Update Draft</button>

</form>
  </div>
</div>


<div id="delete" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#delete" style="color: #fff !important"></a>
    <h1 class="title">Delete Draft</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <center><p class="content-padded">Are you sure you want to delete draft?</p></center>
    <form style="" onsubmit="return false;" class="content-padded" id="deleteContact">
    <input type="hidden" id="draft_delete_id"> 
  <button type="submit" class="btn btn-negative btn-block" style="margin-top: 5px;">Yes</button>

</form>
  </div>
</div>