<script>

	jQuery(document).ready(function() {

		function spinIn() {
    		$('#spinner').css('display', 'inline');
		}

		function spinOut() {
   		 $('#spinner').css('display', 'none');
		}

    spinOut();

		$('.control-content').load('pages/recharge/card.html');


		$('.control-item').click(function() {
			spinIn();

		var page = $(this).attr('href');

		$('.control-content').fadeOut('fast',loadContent);

		function loadContent() {
			$('.control-content').load(page,'',showNewContent);
		}

		function showNewContent() {
			$('.control-content').fadeIn('fast',spinOut);
		}

		var title = $(this).attr('rel');
		$('.title').text(title);


	});

	});

</script>
<div class="segmented-control">
  <a class="control-item active" href="pages/recharge/card.html" rel="Recharge Card" data-ignore="push">
    Recharge Card
  </a>
  <a class="control-item" href="pages/recharge/bank.html" rel="Bank Slip" data-ignore="push">
    Bank Slip
  </a>
  <a class="control-item" href="pages/recharge/webpay.html" rel="Webpay" data-ignore="push">
    Webpay
  </a>
</div>

<div class="control-content active"></div>
