<script>



    $(document).ready(function() {

      function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

spinOut();

      var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');

          $.getJSON(url+'users/get_settings/'+session_token+'.json', function(data) {
    
    localStorage.setItem('profile', JSON.stringify(data));

    
});

      var user = JSON.parse( localStorage.getItem('profile') );

      if (user == null || user == '') {
      $.getJSON(url+'users/get_settings/'+session_token+'.json', function(data) {
        localStorage.setItem('profile', JSON.stringify(data));
        var user = JSON.parse( localStorage.getItem('profile') );
        $('.full_name').text(user.settings.first_name+" "+user.settings.last_name);
    $('#email').text(user.settings.email);
    $('#mobile').text(user.settings.mobile);
    $('#organization').text(user.settings.organization);
    // $('#created_date').text(user.settings.mobile);
    $('#group_count').text(user.settings.group_count);
    $('#contact_count').text(user.settings.contact_count);
    $('#recharge_count').text(user.settings.recharge_count);
    $('#message_count').text(user.settings.message_count);
    $('#schedule_count').text(user.settings.schedule_count);
    $('#draft_count').text(user.settings.draft_count);
    $('#transfer_count').text(user.settings.transfer_count); 
      });
    }else{
      $('.full_name').text(user.settings.first_name+" "+user.settings.last_name);
    $('#email').text(user.settings.email);
    $('#mobile').text(user.settings.mobile);
    $('#organization').text(user.settings.organization);
    // $('#created_date').text(user.settings.mobile);
    $('#group_count').text(user.settings.group_count);
    $('#contact_count').text(user.settings.contact_count);
    $('#recharge_count').text(user.settings.recharge_count);
    $('#message_count').text(user.settings.message_count);
    $('#schedule_count').text(user.settings.schedule_count);
    $('#draft_count').text(user.settings.draft_count);
    $('#transfer_count').text(user.settings.transfer_count); 
    }

     

    var balance = JSON.parse( localStorage.getItem('balance') ); 
    if (balance == null || balance == '') {
      $.getJSON(url+'users/get_balance/'+session_token+'.json', function(data) {
        localStorage.setItem('balance', JSON.stringify(data.response.balance));
    $('.balance').text("₦"+data.response.balance); 
      });
    }else{
      $('.balance').text("₦"+balance); 
    }

    

    });
     

</script>
<ul class="table-view">
 <li class="table-view-cell media">
    <a style="padding-right: 0px;">
      <img class="media-object pull-left" src="img/user.png" height="50" width="50" style="border-radius: 50%;">
      <div class="media-body">
      <span class="full_name"></span>
        <p style="padding: 0px;" id="email"></p>
        <p style="padding: 0px;" id="mobile"></p>
        <p style="padding: 0px;" class="balance">loading balance...</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media" style="padding-left: 18px;
    padding-right: 0px;">
    <a style="padding-right: 0px;">
      <div class="media-body" style="">
      <button class="btn btn-outlined btn-negative" style="width: 100%; text-align: left; margin-bottom: 10px;">Groups <span class="badge badge-negative pull-right" id="group_count"></span></button>
      <button class="btn btn-outlined btn-negative" style="width: 100%; text-align: left; margin-bottom: 10px;">Contacts <span class="badge badge-negative pull-right" id="contact_count"></span></button>
      <button class="btn btn-outlined btn-negative" style="width: 100%; text-align: left; margin-bottom: 10px;">No. of Recharge <span class="badge badge-negative pull-right" id="recharge_count"></span></button>
      <button class="btn btn-outlined btn-negative" style="width: 100%; text-align: left; margin-bottom: 10px;">No. of Transfers <span class="badge badge-negative pull-right" id="transfer_count"></span></button>
      <button class="btn btn-outlined btn-negative" style="width: 100%; text-align: left; margin-bottom: 10px;">Sent Messages <span class="badge badge-negative pull-right" id="message_count"></span></button>
      <button class="btn btn-outlined btn-negative" style="width: 100%; text-align: left; margin-bottom: 10px;">Schedule Messages <span class="badge badge-negative pull-right" id="schedule_count"></span></button>
      <button class="btn btn-outlined btn-negative" style="width: 100%; text-align: left;">Draft Messages <span class="badge badge-negative pull-right" id="draft_count"></span></button>
        
      </div>
    </a>
  </li>
</ul>