<script>

  $(document).ready(function() {
    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}


var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');


    var Schedules = JSON.parse( localStorage.getItem('schedules') );

    if (Schedules != '' || Schedules == null) {

$.each(Schedules , function(key , value){
    $('#scheduleList').append("<li class='table-view-cell media' style='padding-right: 5px;'><a><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-ban removeSchedule pull-right' id='"+value.Schedule.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editSchedule pull-right' id='"+value.Schedule.id+"'></a>Sender: "+value.Schedule.sender+"<p>"+value.Schedule.text+"</p>Recipients: "+value.Schedule.recipients+"<br>Broadcast Time: "+value.Schedule.broadcast_time+"<br>Last Updated: "+value.Schedule.last_updated+"<br>Schedule Status: "+value.ScheduleStatus.name+"</div></a></li>");       

});
    

    }else{

$.ajax({
    'url': url+'schedules/fetch_messages/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
    
var Schedules = data.Schedules;

localStorage.setItem('schedules', JSON.stringify(Schedules));

if (Schedules == undifined) {
$('#scheduleList').html("<center><button class='btn btn-negative'>You have not scheduled any message</button></center>");
spinOut();
    }else{


$.each(Schedules , function(key , value){
    $('#scheduleList').append("<li class='table-view-cell media' style='padding-right: 5px;'><a><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-ban removeSchedule pull-right' id='"+value.Schedule.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editSchedule pull-right' id='"+value.Schedule.id+"'></a>Sender: "+value.Schedule.sender+"<p>"+value.Schedule.text+"</p>Recipients: "+value.Schedule.recipients+"<br>Broadcast Time: "+value.Schedule.broadcast_time+"<br>Last Updated: "+value.Schedule.last_updated+"<br>Schedule Status: "+value.ScheduleStatus.name+"</div></a></li>");       

});


      }

    
  });

    }

    spinOut();

    $.ajax({
    'url': url+'schedules/fetch_messages/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
    
var Schedules = data.Schedules;

localStorage.setItem('schedules', JSON.stringify(Schedules));

});


$('.removeSchedule').click(function(event) {
  var id = $(this).attr('id');
    $('#schedule_delete_id').val(id);

    $('#delete').addClass('active');
});

/*
$('#deleteSchedule').submit(function(event) {
    spinIn();
    var id = $('#schedule_delete_id').val();

    $.ajax({
    'url': url+'schedules/delete/'+session_token+'.json',
    'type': 'POST',
    'data': {'ids': [id]}
  }).done( function (data) {

if (data.response == 'Removed') {

  $.getJSON(url+'users/get_settings/'+session_token+'.json', function(data) {
        localStorage.setItem('profile', JSON.stringify(data));
      });

$.ajax({
    'url': url+'contacts/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {

  $('#contactList').html('');

var Contacts = data.Contacts;
localStorage.setItem('contacts', JSON.stringify(Contacts));
$.each(Contacts , function(key , value){

    $('#contactList').append("<li class='table-view-cell media' style='padding-right: 5px;'><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-trash removeContact pull-right' id='"+value.Contact.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editContact pull-right' id='"+value.Contact.id+"'></a>"+value.Contact.full_name+"<p>"+value.Contact.mobile+"</p><p>"+value.Contact.organization+"</p></div></li>");        

});

});

  $('#delete').removeClass('active');
  alert('Contact successfully removed');


}else{
alert(data.response);
}

spinOut();

});

  });*/


$('.editSchedule').click(function(event) {
    spinIn();
    var id = $(this).attr('id');

    $.ajax({
    'url': url+'schedules/fetch_message/'+session_token+'/'+id+'.json',
    'type': 'GET'
  }).done( function (data) {

$('#schedule_name').val(data.Message.Schedule.sender);
$('#schedule_id').val(data.Message.Schedule.id);
$('#schedule_message').val(data.Message.Schedule.text);
$('#schedule_recipients').val(data.Message.Schedule.recipients);

$('#details').addClass('active');

spinOut();

});

  });


$('#editSchedule').submit(function(event) {
    $sender = $('#schedule_name').val();
    $id = $('#schedule_id').val();
    $text = $('#schedule_message').val();
    $recipients = $('#schedule_recipients').val();

    $yr = $('#sch_yr :selected').val();
  $mon = $('#sch_mon :selected').val();
  $dy = $('#sch_dy :selected').val();
  $hr = $('#sch_hr :selected').val();
  $mn = $('#sch_mn :selected').val();

  $broadcast_time = $yr+'-'+$mon+'-'+$dy+' '+$hr+':'+$mn;

    if ($sender == '' || $text == '' || $recipients == '') {
      alert('All fields are required');
    }else{
      spinIn();

      $.ajax({
    'url': url+'schedules/update/'+session_token+'/'+$id+'.json',
    'type': 'POST',
    'data': {'sender': $sender, 'text': $text, 'recipients': $recipients, 'broadcast_time': $broadcast_time}
  }).done( function (data) {

if (data.schedules == 'saved') {
  alert('Scheduled message has been successfully updated');

 $.ajax({
    'url': url+'schedules/fetch_messages/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
$('#scheduleList').html('');

          var Schedules = data.Schedules;

localStorage.setItem('schedules', JSON.stringify(Schedules));
        $.each(Schedules , function(key , value){
    $('#scheduleList').append("<li class='table-view-cell media' style='padding-right: 5px;'><a><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-ban removeSchedule pull-right' id='"+value.Schedule.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editSchedule pull-right' id='"+value.Schedule.id+"'></a>Sender: "+value.Schedule.sender+"<p>"+value.Schedule.text+"</p>Recipients: "+value.Schedule.recipients+"<br>Broadcast Time: "+value.Schedule.broadcast_time+"<br>Last Updated: "+value.Schedule.last_updated+"<br>Schedule Status: "+value.ScheduleStatus.name+"</div></a></li>");       

});

});

  $('#details').removeClass('active');

}else{
  alert(data.schedules);
}

spinOut();

});

    }

  });
  

  });
</script>

<ul class="table-view" id="scheduleList"></ul>

<div id="delete" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#delete" style="color: #fff !important"></a>
    <h1 class="title">Delete Scheduled Message</h1>
  </header>

  <div class="content" style="background: #fff;">
    <center><p class="content-padded">Are you sure you want to delete scheduled message?</p></center>
    <form style="" onsubmit="return false;" class="content-padded" id="deleteContact">
    <input type="hidden" id="schedule_delete_id"> 
  <button type="submit" class="btn btn-negative btn-block" style="margin-top: 5px;">Yes</button>

</form>
  </div>
</div>




<div id="details" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#details" style="color: #fff !important"></a>
    <h1 class="title">Edit Scheduled Message</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <center><p class="content-padded">Use form to edit schedule message info</p></center>
    <form style="" onsubmit="return false;" class="content-padded" id="editSchedule">
    <input type="hidden" id="schedule_id"> 
    <label>Sender Name</label>
  <input type="text" placeholder="Custom Name" id="schedule_name" autofocus>
  <label>Recipients</label>
  <textarea rows="4" placeholder="2348033333333, 08055555555, ..." id="schedule_recipients"></textarea>
  <label>Message</label>
  <textarea rows="4" placeholder="Enter your message" id="schedule_message"></textarea>

  <label>Broadcast Time</label>
  <table width="100%" border="0" cellspacing="1" cellpadding="0">
                <tbody><tr>
                  <td>Year</td>
                  <td>Month</td>
                  <td>Date</td>
                  <td>Hour</td>
                  <td>Minute</td>
                </tr>
                <tr>
                  <td><select name="sch_yr" class="" id="sch_yr">
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <option value="2024">2024</option>
  <option value="2025">2025</option>
  <option value="2026">2026</option>
  <option value="2027">2027</option>
  <option value="2028">2028</option>
  <option value="2029">2029</option>
  <option value="2030">2030</option>
  <option value="2031">2031</option>
  <option value="2032">2032</option>
  <option value="2033">2033</option>
  <option value="2034">2034</option>
  <option value="2035">2035</option>
</select></td>
                  <td><select name="sch_mon" id="sch_mon">
                      <option value="01">Jan</option>
                      <option value="02">Feb</option>
                      <option value="03">Mar</option>
                      <option value="04">Apr</option>
                      <option value="05">May</option>
                      <option value="06">Jun</option>
                      <option value="07">Jul</option>
                      <option value="08">Aug</option>
                      <option value="09">Sep</option>
                      <option value="10">Oct</option>
                      <option value="11">Nov</option>
                      <option value="12">Dec</option>
                  </select></td>
                  <td><select name="sch_dy" class="" id="sch_dy">
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
</select></td>
                  <td><select name="sch_hr" class="" id="sch_hr">
  <option value="00">00</option>
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
</select></td>
                  <td><select name="sch_mn" class="" id="sch_mn">
  <option value="00">00</option>
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
  <option value="32">32</option>
  <option value="33">33</option>
  <option value="34">34</option>
  <option value="35">35</option>
  <option value="36">36</option>
  <option value="37">37</option>
  <option value="38">38</option>
  <option value="39">39</option>
  <option value="40">40</option>
  <option value="41">41</option>
  <option value="42">42</option>
  <option value="43">43</option>
  <option value="44">44</option>
  <option value="45">45</option>
  <option value="46">46</option>
  <option value="47">47</option>
  <option value="48">48</option>
  <option value="49">49</option>
  <option value="50">50</option>
  <option value="51">51</option>
  <option value="52">52</option>
  <option value="53">53</option>
  <option value="54">54</option>
  <option value="55">55</option>
  <option value="56">56</option>
  <option value="57">57</option>
  <option value="58">58</option>
  <option value="59">59</option>
</select></td>
                </tr>
              </tbody></table>
  

  <button type="submit" class="btn btn-negative btn-block" style="margin-top: 5px;">Update Scheduled Message</button>

</form>
  </div>
</div>