<script>


    $(document).ready(function() {

      function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

spinIn();

      var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');   
          var sent_message = JSON.parse(localStorage.getItem('sent_message'));

          if (sent_message == null || sent_message == '') {

$.getJSON(url+'messages/fetch_messages/'+session_token+'.json', function(data) {
    var Messages = data.Messages;
    localStorage.setItem('sent_message', JSON.stringify(Messages));
    
    if (Messages == null || Messages == '') {
$('#messagesFeed').html("<center><button class='btn btn-negative'>You have not sent any message</button></center>");
    }else{

                $.each(Messages, function(key, value) {
                //console.log(Messages);
                     
                     $('#messagesFeed').append("<li class='table-view-cell media' style='padding-right: 5px;' id='"+value.Message.id+"'><a href='javascript:;' class=''><div class='media-body'>"+value.Message.sender+"<p>"+value.Message.text+"</p>No. Recipients: "+value.Message.recipients_count+"<br>Message Status: "+value.MessageStatus.name+"</div></a></li>");
                     
                }); 

                  
    }  
 

});

          }else{


                $.each(sent_message, function(key, value) {
                     
                     $('#messagesFeed').append("<li class='table-view-cell media' style='padding-right: 5px;' id='"+value.Message.id+"'><a href='javascript:;' class=''><div class='media-body'>"+value.Message.sender+"<p>"+value.Message.text+"</p>No. Recipients: "+value.Message.recipients_count+"<br>Message Status: "+value.MessageStatus.name+"</div></a></li>");
                     
                }); 


          }

          $.getJSON(url+'messages/fetch_messages/'+session_token+'.json', function(data) {
            var Messages = data.Messages;
            localStorage.setItem('sent_message', JSON.stringify(Messages));
          });


spinOut();

$('#messagesFeed .media').click(function() {
  spinIn();
  var id = $(this).attr('id');

  $.getJSON(url+'messages/fetch_message/'+session_token+'/'+id+'.json', function(data) {
    var detail = data.Message;
    
    $('#detail_sender').text(detail.Message.sender);
    $('#detail_text').text(detail.Message.text);
    $('#detail_recipients').text(detail.Message.recipients);
    $('#detail_count').text(detail.Message.recipient_count);
    $('#detail_time').text(detail.Message.broadcast_time);
    $('#detail_status').text(detail.MessageStatus.name);

  $('#sentDetails').addClass('active');
    spinOut();
  });

});

      

    });
  

</script>
<ul class="table-view" id="messagesFeed" style="margin-top: 5px;"></ul>

<div id="sentDetails" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#sentDetails" style="color: #fff;"></a>
    <h1 class="title">Sent Message Details</h1>
  </header>

  <div class="content">
    <p class="content-padded">
<label style="font-weight: 400; font-size: 18px; display: block; width: 100%;">Sender:</label> <span id="detail_sender"></span>
<label style="font-weight: 400; font-size: 18px; display: block; width: 100%;">Text:</label> <span id="detail_text"></span>
<label style="font-weight: 400; font-size: 18px; display: block; width: 100%;">Number of Recipients: <span id="detail_count"></span></label> 
<label style="font-weight: 400; font-size: 18px; display: block; width: 100%;">Recipients:</label> <span id="detail_recipients"></span>
<label style="font-weight: 400; font-size: 18px; display: block; width: 100%;">Broadcast Time:</label> <span id="detail_time"></span>
<label style="font-weight: 400; font-size: 18px; display: block; width: 100%;">Message Status: <span id="detail_status"></span></label>
    </p>
  </div>
</div>