<script>

jQuery(document).ready(function() {
		function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

		  var url = 'http://178.62.41.199/bulksms/';
          //var url = 'http://sms.bbnplace.com/new/api/';
          var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');

				$('#requestTokenBtn').click(function() {
					spinIn();
								$.ajax({
							    'url': url+'transfers/generate_token/'+session_token+'.json',
							    'type': 'GET'
							  }).done( function (data) {
							    
							  	if (data.response.message == 'token generated') {
							  		alert('Transfer token generated');
							  		$('#share').addClass('active');
							  	}else{
							  		alert(data.response.message);
							  	}

							  	spinOut();

							});
					
				});

				spinOut();

				$('#sharing_form').submit(function(event) {
					
					$token = $('#token').val();
					$amount = $('#amount').val();
					$beneficiary = $('#beneficiary').val();

					if ($token == '' || $amount == '' || $beneficiary == '') {
						alert('All fields are required except transfer note');
					}else{
								spinIn();

								$.ajax({
							    'url': url+'transfers/do_transfer/'+session_token+'.json',
							    'type': 'POST',
							    'data': {'token': $token, 'amount': $amount, 'beneficiary': $beneficiary}
							  }).done( function (data) {
							    
							  	if (data.response == 'sent') {
							  		alert('Transfer successfully');
							  		$('#share').removeClass('active');
							  		$('#token, #amount, #beneficiary').val('');
							  	}else{
							  		alert(data.response);
							  	}

							  	spinOut();
								});

						}

				});

				$.ajax({
							    'url': url+'transfers/fetch_all/'+session_token+'.json',
							    'type': 'GET'
							  }).done( function (data) {
							    if (data.transfers == 'undefined' || data.transfer == null) {

							    	$('#transferList').html("<center><button class='btn btn-negative'>You have not made any transfer</button></center>");

							    }else{

							    	$.each(data.transfers , function(key , value){
    $('#transferList').append("<li class='table-view-cell media' style='padding-right: 5px;'><a><div class='media-body'>Beneficiary: "+value.transfer.beneficiary+"<p>Units Transferred: "+value.transfer.units_transferred+"</p>Note: "+value.transfer.note+"<br>Transfer Date: "+value.transfer.transfer_date+"<br>Transfer Status: "+value.TransferStatus.name+"</div></a></li>");       

});

							    }


				});

}); 

</script>
<div id="sharing_load">

	<p style="margin-top: 5px;" align="center">
You do not have any active transfer authorisation token. To transfer credit you need a token.
</p>
<button class="btn btn-negative btn-block" id="requestTokenBtn" style="">Request Token</button>
<a href="#share" class="btn btn-negative btn-block" style="">Already have Token</a>

<center><h4 style="margin-top: 5px;">Transfer History</h4></center>
<ul class="table-view" id="transferList">Loading...</ul>
</div>

<div id="share" class="modal" style="margin-left: -10px; min-height: 500px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#share" style="color: #fff !important"></a>
    <h1 class="title">Transfer Credit</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <center>
<p style="margin-top: 5px;" class="content-padded">
A transfer token was recently sent to your mobile number. Please check your phone.
</p>
</center>
<form onsubmit="return false;" id="sharing_form" class="content-padded">
  <div class="form-group">
    <label>Transfer Token</label>
    <input type="text" id="token" placeholder="Transfer Token">
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input type="number" id="amount" placeholder="units of credit" autofocus>
  </div>
  <div class="form-group">
    <label>Beneficiary</label>
    <input type="email" id="beneficiary" placeholder="Email address of recipient">
  </div>
  <div class="form-group">
    <label>Note</label>
    <textarea id="note" rows="3" placeholder="optional transfer note"></textarea>
  </div>
  <button type="submit" class="btn btn-negative btn-block" style="margin-top: 10px;">Transfer Credit</button>
</form>
  </div>

</div>