<script>

jQuery(document).ready(function() {
    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');

var message = JSON.parse(localStorage.getItem('message'));

$('#sender').text(message.name);
$('#recipient').text(message.recipient);
$('#message').text(message.message);

$('#returnBtn').click(function() {
  $('#page_content').load('pages/compose.html');
});

$('#saveMessage').click(function() {
  spinIn();
  $('#preview_body').fadeOut();
  $('#alertMsg').text('Sending...');

  var data = {'sender': message.name, 'text': message.message, 'recipients': message.recipient};
$.ajax({
    'url': url+'messages/send/'+session_token+'.json',
    'type': 'POST',
    'data': data
  }).done( function (data) {
    if(data.Message.status == 'queued') {

      $('#alertMsg').text('Message successfully sent');
      localStorage.setItem('message', '');
    }else{
      $('#alertMsg').removeClass('btn-positive');
      $('#alertMsg').addClass('btn-negative');
      $('#preview_body').fadeIn();
    }

    spinOut();
    
  });


});

$('#scheduleForm').submit(function() {

  $yr = $('#sch_yr :selected').val();
  $mon = $('#sch_mon :selected').val();
  $dy = $('#sch_dy :selected').val();
  $hr = $('#sch_hr :selected').val();
  $mn = $('#sch_mn :selected').val();
  
  spinIn();
  $('#preview_body').fadeOut();
  $('#alertMsg').text('scheduling message...');

  var data = {'sender': message.name, 'text': message.message, 'recipients': message.recipient, 'flash': 0, 'broadcast_time': $yr+'-'+$mon+'-'+$dy+' '+$hr+':'+$mn};
$.ajax({
    'url': url+'schedules/save/'+session_token+'.json',
    'type': 'POST',
    'data': data
  }).done( function (data) {
    if(data.message.status == 'queued') {

      $('#alertMsg').text('Message successfully scheduled');
      localStorage.setItem('message', '');
    }else{
      $('#alertMsg').removeClass('btn-positive');
      $('#alertMsg').text(data.message.status);
      $('#alertMsg').addClass('btn-negative');
      $('#preview_body').fadeIn();
    }

    spinOut();
    
  });

});

$('#scheduleBtn').click(function() {
  $('#scheduleForm').css('display', 'block');
});

});
 
    
</script>


<center>
<p style="margin-top: 5px;"><button class='btn btn-positive' id="alertMsg">Message is ready to be dispatched</button></p>
</center>

<div id="preview_body" style="padding-bottom: 50px;">


<label>Sender Name</label>
<p id="sender"></p>

<label>Recipients</label>
<p id="recipient"></p>


<label>Message</label>
<p id="message"></p>

<!-- <label>Billing Summary</label>
<p><label>Pages: <span id="pages"></span></label></p> -->
<!-- <p>Units Required: <span id="units_required"></span></p>
<p>Units Available: <span id="units_available"></span></p> -->

<!-- <label>Contacts Status</label>
<p>Total Contacts: <span id="total_contacts"></span></p>
<p>Unique Contacts: <span id="unique_contacts"></span></p>
<p>Selected Contacts: <span id="selected_contacts"></span></p>
<p>Valid Contacts: <span id="valid_contacts"></span></p>
<p>Invalid Contacts: <span id="invalid_contacts"></span></p>
<p>Repetitions: <span id="repetitions"></span></p> -->
<form onsubmit="return false;" style="margin-bottom: 10px; display: none;" class="content-padded" id="scheduleForm">
<label style="font-weight: bold;">Broadcast Time</label>
  <table width="100%" border="0" cellspacing="1" cellpadding="0">
                <tbody><tr>
                  <td>Year</td>
                  <td>Month</td>
                  <td>Date</td>
                  <td>Hour</td>
                  <td>Minute</td>
                </tr>
                <tr>
                  <td><select name="sch_yr" class="" id="sch_yr">
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <option value="2024">2024</option>
  <option value="2025">2025</option>
  <option value="2026">2026</option>
  <option value="2027">2027</option>
  <option value="2028">2028</option>
  <option value="2029">2029</option>
  <option value="2030">2030</option>
  <option value="2031">2031</option>
  <option value="2032">2032</option>
  <option value="2033">2033</option>
  <option value="2034">2034</option>
  <option value="2035">2035</option>
</select></td>
                  <td><select name="sch_mon" id="sch_mon">
                      <option value="01">Jan</option>
                      <option value="02">Feb</option>
                      <option value="03">Mar</option>
                      <option value="04">Apr</option>
                      <option value="05">May</option>
                      <option value="06">Jun</option>
                      <option value="07">Jul</option>
                      <option value="08">Aug</option>
                      <option value="09">Sep</option>
                      <option value="10">Oct</option>
                      <option value="11">Nov</option>
                      <option value="12">Dec</option>
                  </select></td>
                  <td><select name="sch_dy" class="" id="sch_dy">
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
</select></td>
                  <td><select name="sch_hr" class="" id="sch_hr">
  <option value="00">00</option>
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
</select></td>
                  <td><select name="sch_mn" class="" id="sch_mn">
  <option value="00">00</option>
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
  <option value="32">32</option>
  <option value="33">33</option>
  <option value="34">34</option>
  <option value="35">35</option>
  <option value="36">36</option>
  <option value="37">37</option>
  <option value="38">38</option>
  <option value="39">39</option>
  <option value="40">40</option>
  <option value="41">41</option>
  <option value="42">42</option>
  <option value="43">43</option>
  <option value="44">44</option>
  <option value="45">45</option>
  <option value="46">46</option>
  <option value="47">47</option>
  <option value="48">48</option>
  <option value="49">49</option>
  <option value="50">50</option>
  <option value="51">51</option>
  <option value="52">52</option>
  <option value="53">53</option>
  <option value="54">54</option>
  <option value="55">55</option>
  <option value="56">56</option>
  <option value="57">57</option>
  <option value="58">58</option>
  <option value="59">59</option>
</select></td>
                </tr>
              </tbody></table>
  
<button type="submit" class="btn btn-negative btn-block">Schedule Now</button>
    </form>
<button class="btn btn-negative btn-block" id="returnBtn" style="width: 33.3333%; float: left;"><span class="fa fa-chevron-left"></span> Return</button>
<button class="btn btn-negative btn-block" id="saveMessage" style="width: 33.3333%; float: left;"> <span class="fa fa-envelope"></span> Send</button>
<button class="btn btn-negative btn-block" id="scheduleBtn" style="width: 33.3333%; float: left;"> <span class="fa fa-calendar"></span> Schedule</button>

</div>


