<script>

   
  $(document).ready(function() {
function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}

var url = 'http://178.62.41.199/bulksms/';
            //  var url = 'http://sms.bbnplace.com/new/api/';
            var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');

          $.ajax({
    'url': url+'contacts/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {

var Contacts = data.Contacts;
localStorage.setItem('contacts', JSON.stringify(Contacts));

});

    var contacts = JSON.parse( localStorage.getItem('contacts') );

    if (contacts == null || contacts == '') {

        $.ajax({
    'url': url+'contacts/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {

var Contacts = data.Contacts;
localStorage.setItem('contacts', JSON.stringify(Contacts));

if (Contacts == null || Contacts == '') {
$('#contactList').html("<center><button class='btn btn-negative'>You don't have any contact</button></center>");
spinOut();
    }else{


$.each(Contacts , function(key , value){

    $('#contactList').append("<li class='table-view-cell media' style='padding-right: 5px;'><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-trash removeSchedule pull-right' id='"+value.Contact.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editSchedule pull-right' id='"+value.Contact.id+"'></a>"+value.Contact.full_name+"<p>"+value.Contact.mobile+"</p><p>"+value.Contact.organization+"</p></div></li>");       

});


      }

    spinOut();
});

    }else{

if (contacts == null || contacts == '') {
$('#contactList').html("<center><button class='btn btn-negative'>You don't have any contact</button></center>");
spinOut();
    }else{


$.each(contacts , function(key , value){
  //console.log(value.Contact.full_name);
    $('#contactList').append("<li class='table-view-cell media' style='padding-right: 5px;'><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-trash removeContact pull-right' id='"+value.Contact.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editContact pull-right' id='"+value.Contact.id+"'></a>"+value.Contact.full_name+"<p>"+value.Contact.mobile+"</p><p>"+value.Contact.organization+"</p></div></li>");       

});

}

    }


$('.editContact').click(function(event) {
    spinIn();
    var id = $(this).attr('id');

    $.ajax({
    'url': url+'contacts/fetch_contact/'+session_token+'/'+id+'.json',
    'type': 'GET'
  }).done( function (data) {

$('#mobile').val(data.contact.Contact.mobile);
$('#contact_id').val(data.contact.Contact.id);
$('#organization').val(data.contact.Contact.organization);

$('#details').addClass('active');

spinOut();

});

  });


$('#editContact').submit(function(event) {
    $mobile = $('#mobile').val();
    $id = $('#contact_id').val();
    $organization = $('#organization').val();

    if ($mobile == '' || $organization == '') {
      alert('All fields are required');
    }else{
      spinIn();

      $.ajax({
    'url': url+'contacts/edit/'+session_token+'.json',
    'type': 'POST',
    'data': {'id': $id, 'mobile': $mobile, 'organization': $organization}
  }).done( function (data) {

if (data.response == 'Saved') {
  alert('Contact has been successfully updated');

 $.ajax({
    'url': url+'contacts/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
$('#contactList').html('');

var Contacts = data.Contacts;
localStorage.setItem('contacts', JSON.stringify(Contacts));
$.each(Contacts , function(key , value){

    $('#contactList').append("<li class='table-view-cell media' style='padding-right: 5px;'><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-trash removeContact pull-right' id='"+value.Contact.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editContact pull-right' id='"+value.Contact.id+"'></a>"+value.Contact.full_name+"<p>"+value.Contact.mobile+"</p><p>"+value.Contact.organization+"</p></div></li>");        

});

});

}else{
  alert(data.response);
}

spinOut();

});

    }

  });


$('.removeContact').click(function(event) {
    var id = $(this).attr('id');
    $('#contact_delete_id').val(id);

    $('#delete').addClass('active');

  });


$('#deleteContact').submit(function(event) {
    spinIn();
    var id = $('#contact_delete_id').val();

    $.ajax({
    'url': url+'/contacts/delete/'+session_token+'.json',
    'type': 'POST',
    'data': {'ids': [id]}
  }).done( function (data) {

if (data.response == 'Removed') {

  $.getJSON(url+'users/get_settings/'+session_token+'.json', function(data) {
        localStorage.setItem('profile', JSON.stringify(data));
      });

$.ajax({
    'url': url+'contacts/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {

  $('#contactList').html('');

var Contacts = data.Contacts;
localStorage.setItem('contacts', JSON.stringify(Contacts));
$.each(Contacts , function(key , value){

    $('#contactList').append("<li class='table-view-cell media' style='padding-right: 5px;'><div class='media-body'><a href='javascript:;' style='color: #333;' class='fa fa-trash removeContact pull-right' id='"+value.Contact.id+"'></a> <a href='javascript:;' style='color: #333;' class='fa fa-pencil-square-o editContact pull-right' id='"+value.Contact.id+"'></a>"+value.Contact.full_name+"<p>"+value.Contact.mobile+"</p><p>"+value.Contact.organization+"</p></div></li>");        

});

});

  $('#delete').removeClass('active');
  alert('Contact successfully removed');


}else{
alert(data.response);
}

spinOut();

});

  });

    spinOut();


  });

</script>

<!-- <input type="search" placeholder="Search contact"> -->
<ul class="table-view" id="contactList"></ul>

<div id="details" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#details" style="color: #fff !important"></a>
    <h1 class="title">Edit Contact</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <p class="content-padded">Use form to edit contact info</p>
    <form style="" onsubmit="return false;" class="content-padded" id="editContact">
  <div class="form-group">
    <label>Phone Number</label>
    <input type="hidden" id="contact_id"> 
    <input type="text" id="mobile" placeholder="Phone Number">
  </div>
  <!-- <div class="form-group">
    <label>First name</label>
    <input type="text" id="first_name" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input type="text" id="last_name" placeholder="Last Name">
  </div> -->
  <div class="form-group">
  <label>Organization</label>
  <input type="text" id="organization" placeholder="Organization">
    
  </div>

  <button type="submit" class="btn btn-negative btn-block" style="margin-top: 5px;">Update Contact</button>

</form>
  </div>
</div>


<div id="delete" class="modal" style="margin-left: -10px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#delete" style="color: #fff !important"></a>
    <h1 class="title">Delete Contact</h1>
    <a class="icon fa fa-spinner fa-pulse pull-left" id="p_spinner" style="display: none; color: #fff !important"></a>
  </header>

  <div class="content" style="background: #fff;">
    <center><p class="content-padded">Are you sure you want to delete contact?</p></center>
    <form style="" onsubmit="return false;" class="content-padded" id="deleteContact">
    <input type="hidden" id="contact_delete_id"> 
  <button type="submit" class="btn btn-negative btn-block" style="margin-top: 5px;">Yes</button>

</form>
  </div>
</div>