<script>

  $(document).ready(function() {
    function spinIn() {
    $('#spinner').css('display', 'inline');
}

function spinOut() {
    $('#spinner').css('display', 'none');
}


          var url = 'http://178.62.41.199/bulksms/';
          //var url = 'http://sms.bbnplace.com/new/api/';
          var app_id = '10000';
            
          var session_token = localStorage.getItem('session_token');


$.ajax({
    'url': url+'groups/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
          var groups = data.Groups;
   // console.log(groups);

          localStorage.setItem('groups', JSON.stringify(groups));

  });

          var groups = JSON.parse( localStorage.getItem('groups') );

          if (groups != null || groups != '') {

 if (groups == '') {
          $('#groupList').html("<center><button class='btn btn-negative'>You have not created any group</button></center>");
          spinOut();
              }else{

            $.each(groups , function(key , value){
              $('#groupList').append("<li class='table-view-cell media' style='padding: 11px 0px 11px 18px;'><a class='navigate-right'><div class='media-body'>"+value.Group.name+"<p>"+value.Group.note+"</p><p>No. of contacts in group: "+value.Group.groupcontact_count+"</p></div></a></li>");
            });

          }

          }else{
            $.ajax({
    'url': url+'groups/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
    
          var groups = data.Groups;

          localStorage.setItem('groups', JSON.stringify(groups));

          if (groups == '') {
          $('#groupList').html("<center><button class='btn btn-negative'>You have not created any group</button></center>");
          spinOut();
              }else{


          $.each(groups , function(key , value){
             $('#groupList').append("<li class='table-view-cell media' style='padding: 11px 0px 11px 18px;'><a class='navigate-right'><div class='media-body'>"+value.Group.name+"<p>"+value.Group.note+"</p><p>No. of contacts in group: "+value.Group.groupcontact_count+"</p></div></a></li>");
          });


                }

});

          }


spinOut();

$('#add_group_form').submit(function() {
  $name = $('#group_name').val();
  $note = $('#group_note').val();

  if ($name == '') {
    alert('Enter name of group');
  }else{
      $.ajax({
        'url': url+'groups/add/'+session_token+'.json',
        type: 'POST',
        data: {'name': $name, 'note': $note},
      })
      .done(function(data) {
        if(data.groups.response == 'saved'){
          $('#group_name, #group_note').val('');
          alert('Group has been successfully created');
          $.ajax({
    'url': url+'groups/fetch_all/'+session_token+'.json',
    'type': 'GET'
  }).done( function (data) {
          var groups = data.Groups;

          localStorage.setItem('groups', JSON.stringify(groups));

          $('#groupList').html('');

          $.each(groups , function(key , value){
             $('#groupList').append("<li class='table-view-cell media' style='padding: 11px 0px 11px 18px;'><a class='navigate-right'><div class='media-body'>"+value.Group.name+"<p>"+value.Group.note+"</p><p>No. of contacts in group: "+value.Group.groupcontact_count+"</p></div></a></li>");
          });

  });
        }else{
            alert(data.groups.response);
        }

      });
      
  }

});

  });
</script>
<a href="#groupModal" class="btn btn-negative btn-block" style="margin-top: 5px;">Create Groups</a>

<ul class="table-view" id="groupList"></ul>

<div id="groupModal" class="modal" style="margin-left: -10px; min-height: 500px;">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#groupModal" style="color: #fff"></a>
    <h1 class="title">Add New Group</h1>
  </header>

  <div class="content">
    <form onsubmit="return false;" style="margin-top: 5px;" id="add_group_form" class="content-padded">
<label>Group Name</label>
  <input type="text" id="group_name" placeholder="Name of Group" autofocus>
  <label>Description</label>
  <textarea rows="3" id="group_note" placeholder="Enter group description"></textarea>
  <button type="submit" class="btn btn-negative btn-block">Add Group</button>
</form>
  </div>
</div>

